<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hacktober-2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/open.css" />
    <script src="main.js"></script>
    <link rel="icon" href="../imgs/logo.jpg">
</head>

<body>
    <nav class="navbar">
        <a href="#"><img src="../imgs/nav.jpg" alt=""></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../imgs/logo.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Team Open Minds</h5>
            <p class="card-text">If you wanna go fast, move alone. If you wanna go far, move in a Team.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Aimen Bahri</li>
            <li class="list-group-item">Akram Zerarka</li>
            <li class="list-group-item">Oussama Bonnor</li>
            <li class="list-group-item">Mokhtar Benhatchi</li>
            <li class="list-group-item">Chawki Benchehida</li>
            <li class="list-group-item">Mohammed Benotmane</li>
            <li class="list-group-item">Youcef Kolli</li>
            <li class="list-group-item">Abed Kebir</li>
            <li class="list-group-item">Reda Doballah</li>
            <li class="list-group-item">Nada Iftene</li>
            <li class="list-group-item">Samir Belaroui</li>
        </ul>
    </div>
</body>

<script src="../../js/jquery-3.3.1.min"></script>

</html>